//FUENTES INICIAN
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Honk&display=swap');
@font-face {
    font-family: GridiculousMax;
    src: url(../Fonts/GridiculousMax.ttf);
}
@font-face {
    font-family: MADE TOMMY Regular_PERSONAL USE;
    src: url(../Fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
@font-face {
    font-family: MADE TOMMY Medium Outline_PERSONAL USE;
    src: url(../Fonts/MADE\ TOMMY\ Medium\ Outline_PERSONAL\ USE.otf);
}  
//FUENTES TERMINAN

//VARIABLES INICIAN
$color1: rgb(37, 37, 37);
$color2: teal;
$color3: paleturquoise;
$color4: red;
$color5: dodgerblue;
$display: display;
$flex-flow: flex-flow;
$justify-content: justify-content;
$align-content: align-content;
$list-style-type: list-style-type;
$gridiculousmax: gridiculousmax;
// VARIABLES TERMINAN

body {
    background-color: skyblue;
}
.grid-item1 {
    border-radius: 20px;
    background-color: $color3;
    margin: 1%;
    padding: 5%;
}
.grid-header1 {
    grid-area: header;
}
.grid-article1 {
    grid-area: article;
}
.grid-main1 {
    grid-area: main;
}
.grid-aside1 {
    grid-area: aside;
}
ul {
    list-style-type: none;
        a {
            text-decoration: none;
            color: $color4;
                &:hover {
                    color: yellow;
                }
        }
}
.grid-footer1 {
    grid-area: footer;
}
//header inicia
.nav-item {
    &:hover {
        background-color: $color5;
        border-radius: 5px;
        padding-left: 5px;
    }
}
//header termina 
h1 {
    font-family: $gridiculousmax
}
h2 {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h3 {
    @extend h1
}
h4 {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}
h5 {
    &:hover {
        color: yellow;
    }
}
p, li {
    font-family: MADE TOMMY Regular_PERSONAL USE;
        &:hover {
            color: darkgoldenrod;
        }
}
.portafolio {
    height: 350px;
    margin-left: 1%;
    border: groove 8px $color4;
}
// IMAGENES INICIA

// IMAGENES TERMINA

// @IMPORTS INICIAN
@import "_alpha";
@import "_beta";
// @IMPORTS TERMINAN